<div>
{% assign category_posts = site.posts | where: "category", page.category  | sample: 5 %}
{% if category_posts.size > 1 %}
<aside class="sidebar {% if page.push_sidebar_down %}push{% endif %}">
	
	<div>		
		<h4>Other {{ page.category }} Recipes</h4>
		<ul>
			{% for recipe in category_posts %}
			{% unless recipe.title == page.title %}
					<li><a href="{{ site.baseurl }}{{ recipe.url }}"><span>{{ recipe.title }}</span></a></li>
			{% endunless %}
			{% endfor %}
		</ul>
	</div>
  </aside>
  {% endif %}
  {% include sidebar.html %}
</div>